
#titulo{
    color: rgb(245, 203, 16);
    background: rgb(8, 70, 141);
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

#infoservicios h3{
    padding-top: 0px;
    text-align: center; 
    
    color: rgb(3, 76, 185);

}
#infoservicios  .referenciaimg img{
    width: 200px;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}
.referenciaimg{
  
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  height: 200px;
  
}

#infoservicios{
    width: 95%;
    margin: auto;
    margin-top: 25px;
    padding-top: 30px;
    border-radius: 50px;
    margin-bottom: 40px;
    background: white;
    box-shadow: 5px 10px   rgb(253, 210, 16);

}
#infoservicios .tablaneg {
    border:rgb(5, 63, 129) 2px solid;
    border-collapse: collapse;
    text-align: justify;
}
td {
    border:rgb(5, 63, 129) 2px solid;
    text-align: justify;
  }
th{
    border:rgb(5, 63, 129) 2px solid;
    text-align: justify;
  }
#infoservicios .contenedor {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    text-align: left;
    
}
#infoservicios .contenedor .info-pet  h5  {
    color: rgb(20, 19, 17);
    
}
.info-pet {
    margin: 5px;
    border-radius: 6px;
    color: rgb(8, 7, 7); 
    margin-bottom: 15px;
    padding: 10px;
    -o-box-shadow:      12px 12px 29px #555;
    -icab-box-shadow:   12px 12px 29px #555;
    -khtml-box-shadow:  12px 12px 29px #555;
    -moz-box-shadow:    12px 12px 29px #555;
    -webkit-box-shadow: 12px 12px 29px #555;
    box-shadow:         12px 12px 29px #555;
}

#infoservicios p{
    text-align: justify;
    color: rgb(7, 7, 7); 
   
   
}

@media(min-width:480px){
    .info-pet{
        width: 40%;
    }
    
    

}
@media(min-width:1024px){
    .info-pet{
        width: 590px;
    }
}